$maxmobile: "(max-width:767px)";
$maxsmall: "(max-width:991px)";
$minsmall: "(min-width:768px)";
$minmedium: "(min-width:992px)";
$minlarge: "(min-width:1200px)";
$main_color: #E2494C;
$main_font_color: #505050;
$p1fontcolor: #353535;
$p2fontcolor: #A0A0A0;
$float_left: left;
$float_right: right;
$text_left: left;
$text_right: right;